 /* Styles généraux */
 body {
    font-family: Arial, sans-serif;
    background-color: #e0e5ec;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
}

/* Barre de navigation */
header {
    background-color: #e0e5ec;
    position: fixed;
    top: 0;
    left: 25%; /* Décalage pour la sidebar, ajuste selon la largeur de la sidebar */
    width: 75%; /* La largeur restante après la sidebar */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.8);
    z-index: 1;
    display: flex;
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center;
}

/* Titre */
.title-link {
    text-decoration: none; /* Enlève le soulignement du lien */
    color: #000; /* Change la couleur du texte à noir */
    flex-grow: 1; /* Permet de centrer le titre */
    display: flex;
    justify-content: center;
}

.title {
    font-size: 2.2vw; /* Ajuste la taille du titre selon vos préférences */
    font-weight: bold; /* Rend le texte du titre en gras */
    color: #000; /* Assure que le titre soit noir */
}

/* Lien Profil à droite */
.profile-link {
    text-decoration: none; /* Enlève le soulignement du lien */
    color: #000; /* Assure que le texte est noir */
    font-weight: bold;
    margin-right: 5%;
    font-size: 1.2vw;
}



/* Menu latéral gauche */
.sidebar {
    width: 25%; /* Largeur de la sidebar */
    padding: 1.5em;
    box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px #eaece0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #f0f0f3;
    border-radius: 1em;
    overflow-y: auto;
    z-index: 5; /* Assure que la sidebar est derrière la barre de navigation */
    max-height: 97%;
    font-size: 1.1vw;
}

/* Liens dans la sidebar */
.sidebar a {
    display: flex;
    flex-direction: column;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1.5em;
    padding: 0.8em 1.5em;
    text-align: center;
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 30%;
}

.sidebar a:hover {
    background-color: #f0f0f0; /* Couleur de fond subtile pour le survol */
    color: #333; /* Texte en couleur sombre */
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), -6px -6px 12px rgba(255, 255, 255, 0.7); /* Ombre interne douce pour un effet de relief */
    transform: translateY(-3px); /* Ajoute un léger déplacement pour l'effet de survol */
}

/* Liste des conversations dans la sidebar */
.conversations-list h2 {
    font-size: 1.5vw;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Style des éléments de conversation */
.conversation {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 2%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.8); /* Ombres douces */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.conversation:hover {
    background-color: #f1f5fa; /* Couleur de fond plus foncée au survol */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.6); /* Ombre accentuée au survol */
}

.conversation .avatar {
    margin-right: 10px;
}

.conversation .avatar img {
    width: 3vw; /* Réduit la taille de l'avatar */
    height: 3vw;
    border-radius: 50%;
}

.conversation-info {
    flex-grow: 1; /* Laisse le message prendre tout l'espace disponible */
    overflow: hidden; /* Masque le texte débordant */
    font-size: 0.9rem; /* Taille du texte */
    text-overflow: ellipsis;
}

.username {
    font-weight: bold;
    color: #333;
    margin: 0px;
    font-size: 1vw !important;
}

.last-message {
    text-overflow: ellipsis;
    max-width: 60%; /* Largeur relative par défaut */
    font-size: 1.1vw; /* Taille de police par défaut */
}

/* Affichage de l'heure du dernier message dans la liste des conversations */
.conversation-time {
    font-size: 1vw;
    color: #888;
    align-self: flex-end;
    display: inline-block;
}

#no-conversation {
    position: fixed; /* Rend la position fixe */
    left: 25%; /* Ajuste en fonction de la largeur de la sidebar */
    width: 75%; /* Prend tout l'espace restant après la sidebar */
    height: calc(100vh - 90px);
    padding: 20px;
    font-size: 1.3vw;
    color: #888; /* Couleur grise pour indiquer un état passif */
    display: block; /* Assurez-vous qu'il est affiché par défaut */
    margin-top: 90px; /* Ajustement pour éviter de chevaucher la barre de navigation */
    height: calc(100vh - 90px - 40px); /* Prend en compte l'espace laissé */
    display: flex; /* Centrer le contenu */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#no-conversation, #active-chat {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#no-conversation.hidden, #active-chat.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Styles pour la section de la conversation active lorsqu'il n'y a pas de conversation sélectionnée */
#active-messages {
    justify-content: center;
    align-items: center;
    height: 80%;
    color: #888; /* Couleur grise pour indiquer qu'il n'y a pas de conversation */
    font-size: 15px;
}

/* Conversation active */
.active-chat {
    margin-left: 31%;
    margin-top: 90px;
    margin-right: 17px;
    min-height: 72vh; /* Prend au moins 72% de la hauteur de la fenêtre */
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Organise les messages de manière verticale */
    height: calc(100vh - 90px - 40px); /* Réduit la hauteur pour laisser de l'espace en bas */
    overflow: hidden; /* Pour éviter les débordements */
    display: none;
}

/* Afficher la section active-chat quand une conversation est sélectionnée */
.active-chat.visible {
    display: block;
}

/* Tête de la conversation active */
/* Tête de la conversation active */
.chat-header {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Aligne les éléments horizontalement */
    flex-shrink: 0;
}

/* Image de profil */
.profile-pic {
    width: 40px; /* Taille de l'image de profil */
    height: 40px; /* Taille de l'image de profil */
    border-radius: 50%; /* Rend l'image circulaire */
    margin-right: 10px; /* Espace entre l'image et le nom d'utilisateur */
}

/* Nom d'utilisateur */
.username {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.messages {
    background-color: #fff;
    padding: 2%;
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.message {
    margin-bottom: 15px;
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1vw;
}

.message.received {
    background-color: #f1f1f1;
    margin-right: auto;
}

.message.sent {
    background-color: #395886;
    color: white;
    margin-left: auto;
}

.message-time {
    font-size: 0.8vw;
    color: #666;
    text-align: right;
}

.message-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 66%;
    margin-bottom: 25px;
}

.message-input textarea {
    width: 100%;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #f1f1f1;
    resize: none;
}

.message-input button {
    padding: 10px 15px;
    background-color: #B1C9EF;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.message-input button:hover {
    background-color: #395886;
}

@media (max-width: 768px) {
    /* Le body passe en colonne */
    body {
        flex-direction: column;
    }

    /* Sidebar */
    .sidebar {
        align-items: center;
        position: relative;
        margin-bottom: 10px;
        justify-content: flex-start; /* Pour aligner correctement les éléments en haut */
        padding: 10px;
        width: 100%;
        height: 30%; /* S'adapte à son contenu */
        background-color: #f0f0f3;
        transition: width 0.3s ease;
    }

    .sidebar nav a {
        display: inline-block; /* Assure un bon comportement pour les liens */
        text-decoration: none; /* Retire la décoration par défaut */
        padding: 10px 15px; /* Ajoute du padding pour les liens */
        font-size: 1rem; /* Taille de police ajustable */
        color: #333; /* Couleur du texte */
        transition: color 0.3s ease; /* Animation pour un effet au survol */
        width: auto;
    }

    .conversations-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centre les conversations */
        justify-content: flex-start;
    }

    .conversation {
        width: 90%; /* Réduction de la largeur des conversations */
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    /* Chat container */
    .chat-container {
        display: flex;
        flex-direction: column; /* Empile les enfants verticalement */
        margin-top: 10px;
        width: 100%; /* Prend toute la largeur */
        flex-grow: 1; /* Prend l'espace restant sous la sidebar */
        background-color: #fff;
        transition: margin-left 0.3s ease;
        height: 70%;
    }

    /* Section du chat actif */
    .active-chat {
        flex-grow: 1; /* Remplit tout l'espace disponible */
        overflow: hidden; /* Empêche les débordements */
        height: 70%; /* S'adapte à son contenu */
        flex-direction: column;
        margin: 0px;
        height: calc(100vh - 10px - 50px); /* Ajuste la hauteur en fonction de la sidebar */
    }

    .message.sent {
        margin-right: 50px;
    }

    .message-input {
        width: 90%;
        margin-bottom: 0%;
    }

    /* Suppression de la bordure pour "No Conversation" */
    #no-conversation {
        position: static; /* Supprime la position fixe */
        width: 100%; /* Prend toute la largeur de l'écran */
        height: 100vh; /* Prend toute la hauteur visible */
        margin: 0; /* Supprime les marges */
        padding: 0; /* Supprime le padding */
        font-size: 1rem; /* Ajuste la taille du texte pour les petits écrans */
        display: flex; /* Active Flexbox */
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        color: #888; /* Conserve la couleur grise */
        border-radius: 0; /* Supprime les coins arrondis pour une meilleure adaptation */
        box-shadow: none; /* Supprime les ombres pour un design plus simple */
        background: none; /* Supprime le fond si nécessaire */
    }

}
