/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #e0e5ec;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
}

/* Barre de navigation */
header {
    background-color: #e0e5ec;
    position: fixed;
    top: 0;
    left: 25%; /* Décalage pour la sidebar, ajuste selon la largeur de la sidebar */
    width: 75%; /* La largeur restante après la sidebar */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.8);
    z-index: 1;
    display: flex;
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center;
}

/* Titre */
.title-link {
    text-decoration: none; /* Enlève le soulignement du lien */
    color: #000; /* Change la couleur du texte à noir */
    flex-grow: 1; /* Permet de centrer le titre */
    display: flex;
    justify-content: center;
}

.title {
    font-size: 2rem; /* Ajuste la taille du titre selon vos préférences */
    font-weight: bold; /* Rend le texte du titre en gras */
    color: #000; /* Assure que le titre soit noir */
}

/* Lien Profil à droite */
.profile-link {
    text-decoration: none; /* Enlève le soulignement du lien */
    color: #000; /* Assure que le texte est noir */
    font-weight: bold;
    margin-right: 20px;
}



/* Menu latéral gauche */
.sidebar {
    width: 25%; /* Largeur de la sidebar */
    padding: 1.5em;
    box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px #eaece0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #f0f0f3;
    border-radius: 1em;
    overflow-y: auto;
    z-index: 5; /* Assure que la sidebar est derrière la barre de navigation */
    max-height: 97%;
}

/* Liens dans la sidebar */
.sidebar a {
    display: flex;
    flex-direction: column;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1.5em;
    padding: 0.8em 1.5em;
    text-align: center;
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 30%;
}

.sidebar a:hover {
    background-color: #f0f0f0; /* Couleur de fond subtile pour le survol */
    color: #333; /* Texte en couleur sombre */
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), -6px -6px 12px rgba(255, 255, 255, 0.7); /* Ombre interne douce pour un effet de relief */
    transform: translateY(-3px); /* Ajoute un léger déplacement pour l'effet de survol */
}

/* Liste des conversations dans la sidebar */
.conversations-list h2 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Style des éléments de conversation */
.conversation {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.8); /* Ombres douces */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.conversation:hover {
    background-color: #f1f5fa; /* Couleur de fond plus foncée au survol */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.6); /* Ombre accentuée au survol */
}

.conversation .avatar {
    margin-right: 10px;
}

.conversation .avatar img {
    width: 35px; /* Réduit la taille de l'avatar */
    height: 35px;
    border-radius: 50%;
}

.conversation-info {
    flex: 1;
}

.username {
    font-weight: bold;
    color: #333;
    margin: 0px;
}

.last-message {
    white-space: nowrap;         /* Empêche le texte de se décomposer sur plusieurs lignes */
    overflow: hidden;            /* Cache le texte qui dépasse */
    text-overflow: ellipsis;     /* Ajoute des "..." à la fin du texte trop long */
    max-width: 200px;            /* Limite la largeur du texte à 200px, ajustable selon tes besoins */
}

/* Affichage de l'heure du dernier message dans la liste des conversations */
.conversation-time {
    font-size: 0.8rem;
    color: #888;
    margin-left: 10px;
    align-self: flex-end;
    display: inline-block;
}

#no-conversation {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #888;
    display: block;  /* Par défaut, on affiche ce message */
}

/* Styles pour la section de la conversation active lorsqu'il n'y a pas de conversation sélectionnée */
#active-messages {
    justify-content: center;
    align-items: center;
    height: 80%;
    color: #888; /* Couleur grise pour indiquer qu'il n'y a pas de conversation */
    font-size: 15px;
}

/* Conversation active */
.active-chat {
    margin-left: 31%;
    margin-top: 90px;
    margin-right: 17px;
    min-height: 72vh; /* Prend au moins 72% de la hauteur de la fenêtre */
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Organise les messages de manière verticale */
    height: calc(100vh - 90px - 40px); /* Réduit la hauteur pour laisser de l'espace en bas */
    overflow: hidden; /* Pour éviter les débordements */
    display: none;
}

/* Afficher la section active-chat quand une conversation est sélectionnée */
.active-chat.visible {
    display: block;
}

/* Tête de la conversation active */
/* Tête de la conversation active */
.chat-header {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Aligne les éléments horizontalement */
    flex-shrink: 0;
}

/* Image de profil */
.profile-pic {
    width: 40px; /* Taille de l'image de profil */
    height: 40px; /* Taille de l'image de profil */
    border-radius: 50%; /* Rend l'image circulaire */
    margin-right: 10px; /* Espace entre l'image et le nom d'utilisateur */
}

/* Nom d'utilisateur */
.username {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.messages {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    flex-grow: 1;
}

.message {
    margin-bottom: 15px;
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
}

.message.received {
    background-color: #f1f1f1;
    margin-right: auto;
}

.message.sent {
    background-color: #395886;
    color: white;
    margin-left: auto;
}

.message-time {
    font-size: 0.8rem;
    color: #666;
    text-align: right;
}

.message-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 66%;
    margin-bottom: 25px;
}

.message-input textarea {
    width: 100%;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #f1f1f1;
    resize: none;
}

.message-input button {
    padding: 10px 15px;
    background-color: #B1C9EF;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.message-input button:hover {
    background-color: #395886;
}

